* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: radial-gradient( circle farthest-corner at 9.8% 19.4%,  rgba(223,75,75,1) 11.6%, rgba(20,12,12,1) 90.5% );
  overflow: hidden;
}

.navbar{
  border-radius: 20px;
  background-color: rgb(161, 53, 23);
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 520px;
  padding: 35px;
  border-radius: 14px;
  background: beige;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

}
.app-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;   
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px 0 25px;
  
}

.profile-img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.list {
  text-align: left;
  margin-left: 40px;
  padding-left: 0;
  padding-top: 1.5rem;
}

.list li {
  margin-bottom: 8px;
  padding: 0.4rem;
  font-size: 18px;
  margin-bottom: 1rem;
  color: brown;
}

.card p{
  margin-top: 1rem;
  color: brown;
}

.card h1{
  color: brown;
}